extends layout

block content
  div
  h1= title
  br
  div
  h2.header= "WELCOME"
  h2.header= "What's for Dinner? ... Our Menu"
  div
  each data in result
      h2= "Appetizers"
      p= data.appetizers.menu
      h2= "Desserts"
      p= data.desserts.menu
      h2= "Entrees"
      p= data.entrees.menu
